- meta :title => "«Nucleus» — интернет-магазин пчеловодства. Информация о компании", :description => "Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"
= content_for(:meta_og) do
  %meta{:content => "Nucleus | Информация о компании", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Nucleus", :property => "og:author"}/
  %meta{:content => "https://nucleus.com.ua", :property => "og:url"}/
  %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
  %meta{:name=>"twitter:title", :content=>"Nucleus | Информация о компании"}/
  %meta{:name=>"twitter:description", :content=>"Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"}/
  = tag :meta, property: 'og:image', content: image_url('apple-touch-icon-144x144.png')

.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

      = render "reviews/aside_reviews_top"

    .col-12.col-lg-8
      %ol.breadcrumb.py-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active
          О нас
      %h1.text-orange
        О компании Nucleus
      = image_tag "nucleus_about_us.png", class: "img-fluid"
      %p.pt-4
        Nucleus - динамично развивающаяся компания,на рынке с 2009 года. Наша компания занимает лидирующие позиции в области закупки меда и прочих продуктов пчеловодства. Мы заботимся о наших партнерах и уважительно относимся к их труду, поэтому стараемся создать наиболее выгодные условия сотрудничества. Мы смогли завоевать доверие и авторитет среди пчеловодов, работающих с нами на протяжении этих лет.
      %p.pt-4.text-center.text-red
        С нами легко и приятно сотрудничать!
    
    = render "reviews/aside_reviews_bottom"