%script{:src=>"//maps.google.com/maps/api/js?key=AIzaSyC0PnLepVx35JnMzRebhQBDXbs7tHhCUdM", :type => "text/javascript"}
%script{:src=>"//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src=>'//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js', :type=>'text/javascript'}
.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

      = render "reviews/aside_reviews_top"

    .col-12.col-lg-8
      %ol.breadcrumb.py-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active
          Контакты
      %h1.text-orange.mb-0
        Контактная информация
      .row
        - @contacts.each do |contact|
          .col-12.col-md-6.py-4
            .card.mb-3
              .card-header.bg-yellow.align-items-center
                %h6.text-black.font-weight-bold
                  = contact.title
              = image_tag contact.image_url.magazine, class: "img-fluid", title: "Nucleus"
              .card-block
                %p.text-black.p-2
                  = contact.description
                %ul.list-group.list-group-flush
                  %li.list-group-item.p-2
                    = fa_icon "map-marker", class: "text-red"
                    = contact.address
                  %li.list-group-item.p-2
                    = fa_icon "phone", class: "text-red"
                    = contact.phone_one
                  %li.list-group-item.p-2
                    = fa_icon "phone", class: "text-red"
                    = contact.phone_two

      .map-responsive
        #map(style='width: 100%; height: 400px;')
      .letter.my-4
        %h4.text-orange Если у вас есть вопросы, напишите нам
        = render "letters/form"
    
    = render "reviews/aside_reviews_bottom"

- content_for :scripts do
  :javascript
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw @hash.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });