.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

      = render "reviews/aside_reviews_top"

    .col-12.col-lg-8
      %ol.breadcrumb.py-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active
          Вопросы-Ответы
      %h1.text-orange.mb-0
        Вопросы-Ответы
      %section.faqs.mb-4
        %p.my-3
          Мы подобрали наиболее частые вопросы от наших пользователей и ответы на них.
        .list-group
          - @faqs.each do |faq|
            .list-group-item.flex-column.align-items-start
              %h5.mb-1
                = faq.title
              %p.mb-1
                = faq.description
          