.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

      = render "reviews/aside_reviews_top"

    .col-12.col-lg-8.d-none.d-lg-block
      .row
        - @categories.each do |category|
          .col-3
            = link_to show_category_path(category), class: "product-link" do
              .card.product.mb-2.bg-orange
                = image_tag category.image_url.category, class: "card-img-top", title: "#{category.title}"
                .card-block.d-flex.align-items-center.align-self-center
                  %p.p-2.card-title.text-center.mb-0.lh-1
                    = category.title
    
    = render "reviews/aside_reviews_bottom"
