.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        %a{:href=>"#menu1", "data-toggle"=>"collapse", "data-parent"=>"#sidebar", "aria-expanded"=>"false", :class=>"list-group-item collapsed"}
          %span Инвентарь пчеловода
        .collapse#menu1
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu1"}
            Другие приспособления для пчеловодства
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu1"}
            Щетки пасечные
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu1"}
            Стамески пасечные
        %a{:href=>"#menu2", "data-toggle"=>"collapse", "data-parent"=>"#sidebar", "aria-expanded"=>"false", :class=>"list-group-item collapsed"}
          %span Комплектующее для ульев
        .collapse#menu2
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu2"}
            Летковые заградители
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu2"}
            PodCategory 2
          %a{:href=>"#", :class=>"list-group-item", "data-parent"=>"#menu2"}
            PodCategory 3

      .card.rewiew.bg-grey.my-4.d-none.d-lg-block
        .card-header.p-2.text-black
          %small 27 ноября 2017 / Алексей Новиков
        .card-block.p-3
          %h6.card-title.text-orange Летковый заградитель круглый  диаметр 80 оцинкованный
          %p.card-text.text-black
            Some quick example text to build on the card title and make up the bulk of the card's content.
          = link_to "Подробней", root_path, class: "btn btn-warning"

      .card.rewiew.bg-grey.my-4.d-none.d-lg-block
        .card-header.p-2.text-black
          %small 22 ноября 2017 / Маша
        .card-block.p-3
          %h6.card-title.text-orange Скреп ременной 3,3 м
          %p.card-text.text-black
            Some quick example text to build on the card title and make up the bulk of the card's content.
          = link_to "Подробней", root_path, class: "btn btn-warning"
            
                            

    .col-12.col-lg-8
      .row
        .col-3
          = link_to root_path, class: "product-link" do
            .card.product.mb-2.bg-orange
              = image_tag "homemini.jpeg", class: "card-img-top", title: "product"
              .card-block.d-flex.align-items-center.align-self-center
                %h6.p-2.card-title.text-center.mb-0
                  Летковый заградитель круглый  диаметр 70 оцинкованный
        .col-3
          = link_to root_path, class: "product-link" do
            .card.product.mb-2.bg-orange
              = image_tag "homemini.jpeg", class: "card-img-top", title: "product"
              .card-block.d-flex.align-items-center.align-self-center
                %h6.p-2.card-title.text-center.mb-0
                  Маркеры
        .col-3
          = link_to root_path, class: "product-link" do
            .card.product.mb-2.bg-orange
              = image_tag "homemini.jpeg", class: "card-img-top", title: "product"
              .card-block.d-flex.align-items-center.align-self-center
                %h6.p-2.card-title.text-center.mb-0
                  Скреп ременной 3,3 м
        .col-3
          = link_to root_path, class: "product-link" do
            .card.product.mb-2.bg-orange
              = image_tag "homemini.jpeg", class: "card-img-top", title: "product"
              .card-block.d-flex.align-items-center.align-self-center
                %h6.p-2.card-title.text-center.mb-0
                  Летковый заградитель метал. 3-х эл. нижний
        .col-3
          = link_to root_path, class: "product-link" do
            .card.product.mb-2.bg-orange
              = image_tag "homemini.jpeg", class: "card-img-top", title: "product"
              .card-block.d-flex.align-items-center.align-self-center
                %h6.p-2.card-title.text-center.mb-0
                  Летковый заградитель круглый  диаметр 80 оцинкованный

    .col-12.col-md-6.d-lg-none
      .card.rewiew.bg-grey.mb-4
        .card-header.p-2.text-black
          %small 27 ноября 2017 / Алексей Новиков
        .card-block.p-3
          %h6.card-title.text-orange Летковый заградитель круглый  диаметр 80 оцинкованный
          %p.card-text.text-black
            Some quick example text to build on the card title and make up the bulk of the card's content.
          = link_to "Подробней", root_path, class: "btn btn-warning"

    .col-12.col-md-6.d-lg-none
      .card.rewiew.bg-grey.mb-4
        .card-header.p-2.text-black
          %small 22 ноября 2017 / Маша
        .card-block.p-3
          %h6.card-title.text-orange Скреп ременной 3,3 м
          %p.card-text.text-black
            Some quick example text to build on the card title and make up the bulk of the card's content.
          = link_to "Подробней", root_path, class: "btn btn-warning"
