<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-sm-8 col-xl-4 my-4">
      <section class="bg-grey p-4">
	      <h2 class="mb-4">Регистрация</h2>

				<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				    <%= f.input :email, input_html: { :placeholder => "Ваш email", :required => false, :autofocus => true}, label: false %>
				    <%= f.input :password, input_html: { :placeholder => "Пароль", required: true, hint: ("#{@minimum_password_length} символов минимум" if @minimum_password_length)}, label: false %>
				    <%= f.input :password_confirmation, input_html: {:placeholder => "Пароль повторно", required: true}, label: false %>
				  </div>

				  <div class="form-actions">
				    <%= f.button :button, "Отправить", class: "btn btn-block btn-warning", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Регистрация..."} %>
				  </div>
				<% end %>

				<div class="my-4">
				  <p class="text-center text-black">Или</p>
				  <%= link_to "Войти", new_session_path(resource_name), class: "btn btn-outline-warning btn-block" %>
				</div>
			</section>
		</div>
	</div>
</div>


