- meta :title => "«Nucleus» — интернет-магазин пчеловодства. #{@category.title} для пчеловодов", :description => "#{@category.title} для пчеловодов - описание, цена, отзывы. Низкие цены ✓Большой ассортимент ✓Собственное производство"
= content_for(:meta_og) do
  %meta{:content => "Nucleus - #{@category.title} для пчеловодов", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Nucleus", :property => "og:author"}/
  %meta{:content => "https://nucleus.com.ua", :property => "og:url"}/
  %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
  %meta{:name=>"twitter:title", :content=>"Nucleus - #{@category.title} для пчеловодов"}/
  %meta{:name=>"twitter:description", :content=>"#{@category.title} для пчеловодов - описание, цена, отзывы. Низкие цены ✓Большой ассортимент ✓Собственное производство"}/
  = tag :meta, property: 'og:image', content: image_url(@category.image_url.category)
  
.container
  .row
    .col-12.col-lg-4#sidebar.mb-4
      = render "static_pages/aside_category_hide"

      = render "reviews/aside_reviews_top"

    .col-12.col-lg-8
      %ol.breadcrumb.pb-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active
          = @category.title
      %h1.text-orange
        = @category.title
      .row
        - @pod_categories.each do |pod_category|
          .col-4.col-lg-3
            = link_to show_pod_category_path(@category, pod_category), class: "product-link" do
              .card.product.mb-2
                = image_tag pod_category.image_url.category, class: "card-img-top", title: "#{pod_category.title}"
                .card-block.d-flex.align-items-center.align-self-center
                  %p.p-2.card-title.text-center.mb-0.lh-1
                    = pod_category.title
        

    = render "reviews/aside_reviews_bottom"
