.container
  .row
    .col-12.col-lg-4#sidebar.mb-4
      %h2.text-orange.my-4 Каталог 
      .list-group
        = render "static_pages/aside_category"

      = render "reviews/aside_reviews_top" 

    .col-12.col-lg-8
      %ol.breadcrumb.pb-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item
          = link_to @product.category.title, show_category_path(@product.category)
        %li.breadcrumb-item
          = link_to @product.pod_category.title, show_pod_category_path(@product.category, @product.pod_category)
        %li.breadcrumb-item.active
          = @product.title
      .row
        .col-6
          %h1.text-orange.title-product
            = @product.title
            %span{:class=>"price-badge badge badge-#{@product.status_badge}"}
              = @product.status
        .col-6
          %span.badge.badge-warning.mt-4 Цена:
          %span.text-black.font-weight-bold.product-price 
            = number_to_currency(@product.price, unit: "грн", separator: ",", precision: 2)
          %form.mt-2
            .form-group.row
              .col-3
                %input{:type=>"text", :class=>"form-control border-dark", :placeholder=>"Количество", :value=>"1"}
              %button{:class=>"btn btn-danger", :type=>"button"} В корзину
        .col-6.border-y-yellow
          %label.text-black.date.text-center #540
          = image_tag @product.image_url.category, class: "img-fluid", title: "#{@product.title}"
        .col-6.border-y-yellow
          %button{:class=>"btn btn-warning btn-block mt-3", :type=>"button"} Перезвонить мне
          %h5.mt-3 
            Описание
            = @product.title
          %p
            = @product.description
          .links.mt-4
            = link_to product_reviews_path(@product), class: "text-orange" do
              Отзывы -
              = @product_reviews.count
            |
            = link_to "График работы", root_path, class: "text-orange"
            |
            = link_to "Контакты", root_path, class: "text-orange"
          = link_to "Оставить отзыв", new_product_review_path(@product), class: "btn btn-info btn-block my-3"

      %h3.my-4.text-center Посмотрите также
      .row
        - @products.each do |product|
          .col-6.col-xl-4
            .card.product-card.mb-3
              .card-header.bg-yellow.d-flex.align-items-center
                %h6.text-black.font-weight-bold
                  = product.title
              = image_tag product.image_url.category, class: "card-img-top", title: "#{product.title}"
              %label{:class=>"text-light status #{product.status_class}"}
                = product.status 
              %label.text-black.date.text-center #540
              .card-block.p-2
                %span.badge.badge-warning Цена:
                %p.text-black.font-weight-bold 
                  = number_to_currency(product.price, unit: "грн", separator: ",", precision: 2)
                .btn-group.btn-group-sm.d-flex.justify-content-center.my-2{:role=>"group", "aria-label"=>"Buy Group Button"}
                  %button.btn.btn-danger.text-light В корзину
                  = link_to "Подробней", show_product_path(product.category, product.pod_category, product), class: "btn btn-warning text-light"
   
    = render "reviews/aside_reviews_bottom"


