<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    В корзине нет товара. Пожалуйста <%= link_to "вернитесь", root_path, class: 'text-orange' %> и добавьте товар в вашу корзину.
  </p>
<% else %>
  <p class="text-center h4">
    Оформите Ваш заказ
  </p>
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="bg-grey p-3">
        <%= render "orders/form" %>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
      <% end %>
      <div class="product-total d-flex justify-content-between my-3">
        <strong> Всего к оплате:</strong>
        <strong class="cart-price-total">
          <%= number_to_currency @cart.subtotal, unit: "грн", separator: ",", precision: 2 %>
        </strong>
      </div>
    </div>

  </div>
<% end %>