- meta :title => "«Nucleus» — интернет-магазин пчеловодства, оборудование, лекарства. Корзина", :description => "Корзина. Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"
= content_for(:meta_og) do
  %meta{:content => "Nucleus | Корзина", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Nucleus", :property => "og:author"}/
  %meta{:content => "https://nucleus.com.ua", :property => "og:url"}/
  %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
  %meta{:name=>"twitter:title", :content=>"Nucleus | Корзина"}/
  %meta{:name=>"twitter:description", :content=>"Корзина. Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"}/
  = tag :meta, property: 'og:image', content: image_url('apple-touch-icon-144x144.png')

.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

    .col-12.col-lg-8
      %ol.breadcrumb.pb-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active
          Корзина
      %h4.text-orange
        Корзина

      .shopping-cart
        = render "shopping_cart"
