<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-sm-8 col-xl-4 my-4">
      <section class="bg-grey p-4">
	      <h2 class="mb-4">Вход в систему</h2>

				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				    <%= f.input :email, input_html: {:placeholder => "Ваш Email", :required => false, :autofocus => true}, label: false %>
				    <%= f.input :password, input_html: {:placeholder => "Пароль", :required => false}, label: false %>
				    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				  </div>

				  <div class="form-actions">
				    <%= f.button :button, "Войти", class: "btn btn-block btn-warning", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Вход..."} %>
				  </div>
				<% end %>
        <div class="btn-group btn-group-sm d-flex justify-content-center my-4">
					<%= link_to "Регистрация", new_registration_path(resource_name), class: "btn btn-outline-warning" %>
					<%= link_to "Забыли пароль?", new_password_path(resource_name), class: "btn btn-outline-warning" %>
				</div>
			</section>
		</div>
	</div>
</div>

