- meta :title => "«Nucleus» — интернет-магазин пчеловодства. Отзывы о товаре", :description => "Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"
= content_for(:meta_og) do
  %meta{:content => "Nucleus | Отзывы", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "Nucleus", :property => "og:author"}/
  %meta{:content => "https://nucleus.com.ua", :property => "og:url"}/
  %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
  %meta{:name=>"twitter:title", :content=>"Nucleus | Отзывы"}/
  %meta{:name=>"twitter:description", :content=>"Широкий выбор: пчеловодческого инвентаря, оборудования, лекарственных препаратов и книг для пчеловодов, а также пчелопродуктов. Низкие цены ✓Большой ассортимент ✓Собственное производство"}/
  = tag :meta, property: 'og:image', content: image_url('apple-touch-icon-144x144.png')

.container
  %h1.text-orange Каталог 
  .row
    .col-12.col-lg-4#sidebar.mb-4
      .list-group
        = render "static_pages/aside_category"

    .col-12.col-lg-8
      %ol.breadcrumb.py-0.pl-0
        %li.breadcrumb-item
          = link_to "Главная", root_path
        %li.breadcrumb-item.active{"aria-current"=>"page"}
          Все отзывы
      .list-group.reviews.mb-4
        - @reviews.each do |review|
          .list-group-item.flex-column.align-items-start
            .d-flex.w-100.justify-content-between
              = image_tag review.product.image_url.thumb
              = link_to show_product_path(review.product.category, review.product.pod_category, review.product), class: "review-link" do
                %h6.mb-1
                  = review.product.title
            %p.mb-1
              "
              = review.description
              "
            .d-flex.w-100.justify-content-between
              %small
                = review.name
              %small
                = l review.created_at, format: :long
        