<header>
  <nav class="navbar fixed-top bg-white">
    <%= link_to root_path, class: "pb-2 ml-lg-2", title: "Trinity" do%>
      <%= image_tag "nucleus_logo_for_web.png", alt: "Trinity",  width: "200", "aria-hidden"=>"true" %>
    <%end%>
    <p class="d-none d-lg-block h3 faa-vertical animated faa-slow lh-1 text-red">Бесплатная доставка<br><small class="text-muted fs-60 text-black">По всей Украине</small></p>
    <div class="flex-column right-all">
      <ul class="navbar-nav ml-auto flex-row small mb-2 mb-md-0">
        <li class="nav-item mr-2">
          <a href="tel:+78125555555" title="Позвоните нам" class="nav-link phone">(050) 555-55-55</a>
        </li>
        <li class="nav-item">
          <a href="tel:+78125555555" title="Позвоните нам" class="nav-link phone">(067) 555-55-55</a>
        </li>
      </ul>
      <form class="form-inline ml-auto">
        <div class="input-group">
          <input type="text" class="form-control border-dark" placeholder="Search">
          <div class="input-group-append">
              <button class="btn btn-outline-danger" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="total-card mt-2">
        <%= link_to root_path do%>
          <%= fa_icon "shopping-cart" %>
          Корзина
          <span class="badge badge-pill badge-warning">0</span>
        <%end%>
        |
        <%= link_to "Вход", root_path %>
        |
        <%= link_to "Регистрация", root_path %>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-xl second-navbar bg-orange fixed-top">
    <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-orange" id="navbarCollapse">
      <ul class="navbar-nav second-nav ml-auto mr-auto text-white">
        <li class="nav-item mr-3 <%= active_class(root_path) %>">
          <%= link_to "Прайс-лист", root_path, class: "nav-link", title: "Прайс-лист" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Как заказать", root_path, class: "nav-link", title: "Как заказать" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Оплата", root_path, class: "nav-link", title: "Оплата" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Доставка", root_path, class: "nav-link", title: "Доставка" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Контакты", root_path, class: "nav-link", title: "Контакты" %>
        </li>
        <li class="nav-item <%= active_class(about_us_path) %>">
          <%= link_to "Услуги", root_path, class: "nav-link", title: "Услуги" %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="third-nav bg-yellow py-2"></div>
</header>