<header>
  <nav class="navbar fixed-top bg-white">
    <%= link_to root_path, class: "pb-2 ml-lg-2", title: "Nucleus" do%>
      <%= image_tag "nucleus_logo_for_web.png", alt: "Nucleus",  width: "200", "aria-hidden"=>"true" %>
    <%end%>
    <%= render "layouts/banner" %>
    <div class="flex-column right-all">
      <ul class="navbar-nav ml-auto flex-row small mb-2 mb-md-0">
        <li class="nav-item mr-2">
          <a href="tel:<%= @contact.phone_one%>" title="Позвоните нам" class="nav-link phone"><%= @contact.phone_one %></a>
        </li>
        <li class="nav-item">
          <a href="tel:<%= @contact.phone_two%>" title="Позвоните нам" class="nav-link phone"><%= @contact.phone_two %></a>
        </li>
      </ul>
      <%= search_form_for @q, url: search_path, html: {class: "form-inline ml-auto"} do |f| %>
        <%= f.search_field :title_or_description_cont, placeholder: "Поиск...", class: "form-control border-dark" %>
        <div class="input-group-append">
          <button class="btn btn-danger" type="submit"><i class="fa fa-search"></i></button>
        </div>
      <%end%>
      <div class="total-card mt-2">
        <%= render "layouts/cart_text" %>
        |
        <%- if user_signed_in? %>
          <%- if current_user.admin? %>
            <%= link_to "Админпанель", admin_dashboard_path %>
          <%- else %>
            <%= link_to "Кабинет", cabinet_path %>
          <%end%>
          |
          <%= link_to "Выйти", destroy_user_session_path %>
        <%- else %>
          <%= link_to "Вход", new_user_session_path %>
          |
          <%= link_to "Регистрация", new_user_registration_path %>
        <%end%>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-xl second-navbar bg-orange fixed-top">
    <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-orange" id="navbarCollapse">
      <ul class="navbar-nav second-nav ml-auto mr-auto text-white">
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Прайс-лист", root_path, class: "nav-link", title: "Прайс-лист" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Как заказать", root_path, class: "nav-link", title: "Как заказать" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Оплата", root_path, class: "nav-link", title: "Оплата" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(about_us_path) %>">
          <%= link_to "Доставка", root_path, class: "nav-link", title: "Доставка" %>
        </li>
        <li class="nav-item mr-3 <%= active_class(contacts_path) %>">
          <%= link_to "Контакты", contacts_path, class: "nav-link", title: "Контакты" %>
        </li>
        <li class="nav-item <%= active_class(about_us_path) %>">
          <%= link_to "Услуги", root_path, class: "nav-link", title: "Услуги" %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="third-nav bg-yellow py-2"></div>
</header>